<h1>Users</h1>
<hr />
<%= link_to "Add User", new_user_registration_path %>
<ul>
  <%= @users.length <= 0 ? "No Users" : nil %>
  <% @users.each do |user| %>
    <%= link_to user.first_name, user_path %>
  <% end %>
</ul>
