<h1><%= "Welcome #{@user.first_name}" %></h1>
<hr />
<%= link_to "Create New Appointment", new_user_appointment_path(@user)%>
<br />
<ul>
  <% @appointments.each do |appointment| %>
    <li>
      <%= link_to appointment.summary, user_appointment_path(@user, appointment) %>
    </li>
  <% end %>
</ul>