<h1><%= @doctor.name %></h1>
<hr />

<ul>
  <% @appointments.each do |appointment| %>
    <li>
      <%= "#{appointment.summary} with #{@users.find(appointment.user_id).first_name}" %>
    </li>
  <% end %>
</ul>
<div class="ui secondary menu">
  <%= link_to "Edit", edit_doctor_path(@doctor), class: "item" %>
  <%= link_to "Delete", doctor_path(@doctor), method: :delete, class: "item" %>
</div>
